- if allowed_to? 'update', 'hourglass/time_bookings', time_booking.project
  = link_to '', hourglass_ui_edit_time_bookings_path(time_booking), class: 'icon-edit js-show-inline-form', title: t(:button_edit), remote: true, data: {type: 'html'}
- if allowed_to? 'hourglass/time_bookings', 'destroy', time_booking.project
  = link_to '', hourglass_time_booking_path(time_booking), class: 'icon-del js-hourglass-remote', title: t(:button_delete), remote: true, method: :delete, data: {confirm: t(:text_are_you_sure)}
