- if policy(time_tracker).change?
  = link_to sprite_icon('edit', ''), hourglass_ui_edit_time_trackers_path(time_tracker), class: 'icon icon-edit js-show-inline-form', title: t(:button_edit), remote: true, data: {type: 'html'}
- if policy(time_tracker).destroy?
  = delete_link(hourglass_time_tracker_path(time_tracker), {title: t(:button_delete), remote: true, class: 'icon icon-del js-hourglass-remote'}, '')
