- if authorize_globally_for 'chronos/time_trackers', 'update'
  = link_to '', chronos_ui_edit_time_trackers_path(time_tracker), class: 'icon-edit js-show-inline-form', title: t(:button_edit), remote: true, data: {type: 'html'}
- if authorize_globally_for 'chronos/time_trackers', 'destroy'
  = link_to '', chronos_time_tracker_path(time_tracker), class: 'icon-del js-chronos-remote', title: t(:button_delete), remote: true, method: :delete, data: {confirm: t(:text_are_you_sure)}
