= link_to t('hourglass.ui.issues.start'), start_hourglass_time_trackers_path(time_tracker_data), class: "icon icon-hourglass-start js-hourglass-remote js-start-tracker hidden #{issue.present? ? 'js-issue-action' : 'js-account-menu-link'}", remote: true, method: 'post'
