= link_to t('hourglass.ui.issues.stop'), stop_hourglass_time_tracker_path(time_tracker), class: "icon icon-hourglass-stop js-stop-tracker js-hourglass-remote hidden #{issue.present? ? 'js-issue-action' : 'js-account-menu-link'}", remote: true, method: 'delete'
