= link_to t('chronos.ui.issues.stop'), stop_chronos_time_tracker_path(time_tracker), class: "icon icon-stop js-stop-tracker js-chronos-remote hidden #{issue.present? ? 'js-issue-action' : 'js-account-menu-link'}", remote: true, method: 'delete'
