= link_to sprite_icon("stop", t('hourglass.ui.issues.stop'), plugin: Hourglass::PLUGIN_NAME), stop_hourglass_time_tracker_path(time_tracker),
        class: "icon js-stop-tracker js-hourglass-remote #{hidden ? 'hidden ' : ''}#{issue.present? ? 'js-issue-action' : 'js-account-menu-link'}",
        remote: true, method: 'delete', data: time_tracker.clamp? ? {confirm: t('hourglass.ui.forms.confirmations.stop_clamping', 'duration': localized_hours_in_units(Hourglass::DateTimeCalculations.in_hours(Hourglass::DateTimeCalculations.clamp_limit(project: time_tracker.project))))} : nil
