- data, ticks, tooltips = chart_data
javascript:
  window.chronos = window.chronos || {};
  window.chronos.jqplotData = {
    data: #{raw data.to_json},
    ticks: #{raw ticks.to_json},
    highlightData: #{raw tooltips.to_json},
    hourSign: "#{t('chronos.ui.chart.hour_sign')}"
  };
= javascript_include_tag 'jqplot', plugin: Chronos.plugin_name
= stylesheet_link_tag 'jqplot/jquery.jqplot', plugin: Chronos.plugin_name
