- content_for :header_tags do
  = context_menu if Hourglass.redmine_has_advanced_queries?
  = javascript_include_tag 'application', plugin: Hourglass::PLUGIN_NAME
  - am_pm = t([:am, :pm], scope: :time)
  javascript:
    window.hourglass = window.hourglass || {};

    window.hourglass.DateTimeFormat = "#{format_identifier_to_js date_time_format}";
    window.hourglass.UtcOffset = "#{utc_offset}";
    window.hourglass.errorMessages = {
        empty: "#{t('hourglass.ui.forms.errors.empty')}",
        invalid: "#{t('hourglass.ui.forms.errors.invalid')}",
        exceedsLimit: "#{t('hourglass.ui.forms.errors.exceedsLimit')}",
        invalidDuration: "#{t('hourglass.ui.forms.errors.invalidDuration')}"
    };

    moment.locale('redmine-settings', {
      months: #{date_strings_lookup :month_names},
      monthsShort: #{date_strings_lookup :abbr_month_names},
      weekdays: #{date_strings_lookup :day_names},
      weekdaysShort: #{date_strings_lookup :abbr_day_names},
      meridiemParse : new RegExp(/#{am_pm[0]}|#{am_pm[1]}/, 'i'),
      isPM: function (input) {
          return input.toLowerCase() === "#{am_pm[1]}";
      },
      meridiem: function (hour, _minute, isLowercase) {
          var result = hour < 12 ? "#{am_pm[0]}" : "#{am_pm[1]}";
          return isLowercase ? result.toLowerCase() : result.toUpperCase()
      }

    });

  = stylesheet_link_tag 'application', plugin: Hourglass::PLUGIN_NAME

- if @query && @query.persisted? && @query.editable_by?(User.current)
  .contextual
    = link_to t(:button_edit), edit_hourglass_query_path(@query), class: 'icon icon-edit'
    = link_to t(:button_delete), hourglass_query_path(@query), confirm: t(:text_are_you_sure), method: :delete, class: 'icon icon-del'

= yield

= context_menu hourglass_ui_context_menu_path unless Hourglass.redmine_has_advanced_queries?
