javascript:
  window.hourglass = window.hourglass || {};
  window.hourglass.errorMessages = {
      empty: "#{t('hourglass.ui.forms.errors.empty')}",
      invalid: "#{t('hourglass.ui.forms.errors.invalid')}",
      exceedsLimit: "#{t('hourglass.ui.forms.errors.exceedsLimit')}",
      invalidDuration: "#{t('hourglass.ui.forms.errors.invalidDuration')}"
  };
