@mixin form-row {
  .form-row {
    width: 100%;
    clear: left;
    .form-field {
      float: left;
      margin-right: 5px;
      .label {
        float: left;
        overflow: hidden;
        font-size: 9px;
      }
      .input {
        margin-top: 15px;
        input ~ a {
          margin-left: 10px;
        }
        .invalid {
          border: 2px solid #D00;
          background-color: #FFE3E3;
          color: #800;
        }
      }
    }
  }
}
.controller-chronos_ui {
  .time-tracker-control {
    margin-bottom: 30px;
    @include form-row;
  }

  .chronos-list {
    tr {
      white-space: nowrap;
      text-align: center;

      &:hover {
        td.actions a {
          visibility: visible;
        }
      }

      td {
        text-align: center;
        @include form-row;
        &.comments, &.issue {
          text-align: left;
        }
        &.actions {
          text-align: right;
          a {
            padding: 2px 16px;
            background-repeat: no-repeat;
            background-position: 10px 0;
            visibility: hidden;
          }
        }
      }
      th {
        &.actions {
          width: 1px;
        }
      }
      &.group {
        td {
          text-align: left;
          .expander {
            margin-right: 5px;
          }
          .totals > span {
            margin-left: 5px;
          }
        }
      }
    }
  }

  #query_form {
    #filters-table {
      tr.filter {
        td.field {
          white-space: nowrap;
        }
      }
    }
  }

  #chart-container {
    height: 400px;
    margin-bottom: 10px;
  }
}