.hidden {
  display: none;
}

.hourglass-dialog {
  p {
    margin: 5px 0;
  }
  .center {
    text-align: center;
  }
}

.icon-hourglass-start {
  background-image: image-url('icons/time_start.png');
}

.icon-hourglass-stop {
  background-image: image-url('icons/time_stop.png');
}

.icon-hourglass-continue {
  background-image: image-url('icons/time_continue.png');
}

.icon-hourglass-join {
  background-image: image-url('icons/arrow_join.png');
}

.flash {
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
}

label .hint {
  font-size: xx-small;
  font-weight: normal;
  color: #666666;
}
