.hidden {
  display: none;
}

.chronos-dialog {
  p {
    margin: 5px 0;
  }
  .center {
    text-align: center;
  }
}

.icon-start {
  background-image: url(../images/time_start.png);
}

.icon-stop {
  background-image: url(../images/time_stop.png);
}
