.hidden {
  display: none;
}

.chronos-dialog {
  p {
    margin: 5px 0;
  }
  .center {
    text-align: center;
  }
}

.icon-chronos-start {
  background-image: image-url('time_start.png');
}

.icon-chronos-stop {
  background-image: image-url('time_stop.png');
}
