.hidden {
  display: none;
}

.hourglass-dialog {
  p {
    margin: 5px 0;
  }
  .center {
    text-align: center;

    .invalid {
      border: 2px solid #D00;
      background-color: #FFE3E3;
      color: #800;
    }
  }
}

.context-menu-selection svg.icon-svg, #top-menu svg.icon-svg {
  stroke: #fff;
}
.context-menu-selection a:hover svg.icon-svg {
  stroke: #c61a1a;
}

.flash {
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
}

label .hint {
  font-size: xx-small;
  font-weight: normal;
  color: #666666;
}
